src/main/resources/webservices/HelloWorldService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://iwebservice.CAWeb.techthinker.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	targetNamespace="http://iwebservice.CAWeb.techthinker.com">
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://iwebservice.CAWeb.techthinker.com">
			<xs:element name="saySorry">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="args0" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="saySorryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sayHello">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="args0" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sayHelloResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getWorld">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="getWorldResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="saySorryRequest">
		<wsdl:part name="parameters" element="xsd:saySorry" />
	</wsdl:message>
	<wsdl:message name="saySorryResponse">
		<wsdl:part name="parameters" element="xsd:saySorryResponse" />
	</wsdl:message>
	<wsdl:message name="getWorldRequest">
		<wsdl:part name="parameters" element="xsd:getWorld" />
	</wsdl:message>
	<wsdl:message name="getWorldResponse">
		<wsdl:part name="parameters" element="xsd:getWorldResponse" />
	</wsdl:message>
	<wsdl:message name="sayHelloRequest">
		<wsdl:part name="parameters" element="xsd:sayHello" />
	</wsdl:message>
	<wsdl:message name="sayHelloResponse">
		<wsdl:part name="parameters" element="xsd:sayHelloResponse" />
	</wsdl:message>
	<wsdl:portType name="IHelloWorldPortType">
		<wsdl:operation name="saySorry">
			<wsdl:input message="xsd:saySorryRequest" wsaw:Action="urn:saySorry" />
			<wsdl:output message="xsd:saySorryResponse" wsaw:Action="urn:saySorryResponse" />
		</wsdl:operation>
		<wsdl:operation name="getWorld">
			<wsdl:input message="xsd:getWorldRequest" wsaw:Action="urn:getWorld" />
			<wsdl:output message="xsd:getWorldResponse" wsaw:Action="urn:getWorldResponse" />
		</wsdl:operation>
		<wsdl:operation name="sayHello">
			<wsdl:input message="xsd:sayHelloRequest" wsaw:Action="urn:sayHello" />
			<wsdl:output message="xsd:sayHelloResponse" wsaw:Action="urn:sayHelloResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IHelloWorldSoap11Binding" type="xsd:IHelloWorldPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="saySorry">
			<soap:operation soapAction="urn:saySorry" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getWorld">
			<soap:operation soapAction="urn:getWorld" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="urn:sayHello" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="IHelloWorldSoap12Binding" type="xsd:IHelloWorldPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="saySorry">
			<soap12:operation soapAction="urn:saySorry" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getWorld">
			<soap12:operation soapAction="urn:getWorld" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sayHello">
			<soap12:operation soapAction="urn:sayHello" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="IHelloWorldHttpBinding" type="xsd:IHelloWorldPortType">
		<http:binding verb="POST" />
		<wsdl:operation name="saySorry">
			<http:operation location="saySorry" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getWorld">
			<http:operation location="getWorld" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sayHello">
			<http:operation location="sayHello" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IHelloWorld">
		<wsdl:port name="IHelloWorldHttpSoap11Endpoint" binding="xsd:IHelloWorldSoap11Binding">
			<soap:address location="http://localhost:8080/campusAssistant-web/services/IHelloWorld" />
		</wsdl:port>
		<wsdl:port name="IHelloWorldHttpSoap12Endpoint" binding="xsd:IHelloWorldSoap12Binding">
			<soap12:address location="http://localhost:8080/campusAssistant-web/services/IHelloWorld" />
		</wsdl:port>
		<wsdl:port name="IHelloWorldHttpEndpoint" binding="xsd:IHelloWorldHttpBinding">
			<http:address location="http://localhost:8080/campusAssistant-web/services/IHelloWorld" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
